apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongodb-deployment
  namespace: chat-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mongodb
  template:
    metadata:
      name: mongodb-pod
      namespace: chat-app
      labels:
        app: mongodb
    spec:
      containers:
      - name: database-container
        image: mongo:latest
        ports:
        - containerPort: 27017
        env:
        - name: MONGO_INITDB_ROOT_USERNAME
          value: mongoadmin
        - name: MONGO_INITDB_ROOT_PASSWORD
          value: secret
        startupProbe:
          exec:
            command:
              - sh
              - -c
              - |
                mongosh --eval "db.adminCommand('ping')" >/dev/null 2>&1
          initialDelaySeconds: 30
          periodSeconds: 10
          failureThreshold: 15
        readinessProbe:
          exec:
            command:
              - sh
              - -c
              - |
                mongosh --eval "db.adminCommand('ping')" >/dev/null 2>&1
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 3
        livenessProbe:
          exec:
            command:
              - sh
              - -c
              - |
                mongosh --eval "db.adminCommand('ping')" >/dev/null 2>&1
          initialDelaySeconds: 30
          periodSeconds: 5
          timeoutSeconds: 5
          failureThreshold: 5
        resources:
          requests:
            memory: "500Mi"
            cpu: "600m"
          limits:
            memory: "750Mi"
            cpu: "700m"
      volumes:
      - name: mongo-data
        persistentVolumeClaim:
          claimName: mongodb-pvc
